<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="FluentAssertions" version="5.4.1" targetFramework="net461" />
  <package id="GitVersionTask" version="3.6.5" targetFramework="net461" developmentDependency="true" />
  <package id="NEdifis" version="0.8.1" targetFramework="net461" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="OneClickBuild" version="1.11.5" targetFramework="net461" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>