<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="FluentAssertions" version="5.6.0" targetFramework="net461" />
  <package id="GitVersionTask" version="4.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="NEdifis" version="0.8.3" targetFramework="net461" />
  <package id="NSubstitute" version="4.1.0" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="OneClickBuild" version="1.11.7" targetFramework="net461" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="UtilPack.NuGet.MSBuild" version="2.9.1" targetFramework="net461" developmentDependency="true" />
</packages>